
*{
    margin: 0;
    padding: 0;
  }
  *, *::after, *::before{
    box-sizing: border-box;
  }
  

  
  body{
    background: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  